
<div class="container-fluid mainWrapper">
   
    <div class="main-body">
       
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div style="position: fixed;">
                <div class="card" style="background-color:#707c64;">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img [src]="userProfile?.avatar_url" alt="avatar" class="rounded-circle" width="150">
                        <div class="mt-3">
                            <p>
                                {{userProfile?.name}}
                            </p>
                            <p>
                                <small>
                                    <i>
                                        <strong>
                                          {{userProfile?.bio}}
                                        </strong>
                                    </i>
                                </small>
                            </p>
                          <h5 class="float-right">
                              <small>
                              <strong>
                                Hireable:
                              </strong> <span class="badge badge-pill badge-warning">{{userProfile?.hireable}}</span>
                              </small>
                          </h5>
      
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mt-3" style="background-color:#707c64;">
              
                   <div class="card-body">
                    <ul class="list-group list-group-flush" style="background-color:#707c64;">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"  style="background-color:#707c64;">
                            Blog
                          <span class="text-secondary">
                              <a href="">{{userProfile?.blog}}</a>
                          </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"  style="background-color:#707c64;">
                          Github: 
                        <span class="text-secondary">
                            <a href=""> {{userProfile?.url}}</a>
                        </span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"  style="background-color:#707c64;">
                          Email
                        <span class="text-secondary">
                            <a href="">{{userProfile?.email}}</a>
                        </span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"  style="background-color:#707c64;">
                          Twitter
                        <span class="text-secondary">
                            <a href="">@{{userProfile?.twitter_username}}</a>
                        </span>
                      </li>
                      </ul>
                
                   </div>
                  </div>
                </div>
              </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3">
                        <div class="card" style="background-color: rgb(93, 43, 209);">
                            <div class="card-body">
                                <div class="col">
                                    <p>{{userProfile?. public_repos}}</p>
                                    <p>
                                        <strong>
                                            REPO
                                            <small>
                                               <strong>
                                                  <span class="badge badge-pill badge-success"> ( public )</span>
                                              </strong>
                                            </small>
                                          </strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                   </div>
                   <div class="col-md-3">
                    <div class="card" style="background-color: deeppink;">
                        <div class="card-body">
                            <div class="col">
                                <p>{{userProfile?. public_gists}}</p>
                                <p>
                                <strong>
                                  GISTS 
                                  <small>
                                     <strong>
                                        <span class="badge badge-pill badge-success"> ( public )</span>
                                    </strong>
                                  </small>
                                </strong>
                                </p>
                            </div>
                        </div>
                    </div>
               </div>
               <div class="col-md-3">
                <div class="card bg-" style="background-color: rgb(179, 209, 43);">
                    <div class="card-body">
                        <div class="col">
                            <p>{{userProfile?.following}}</p>
                            <p>
                            <strong>
                               FOLLOWING
                            </strong>
                            </p>
                        </div>
                    </div>
                </div>
           </div>
           <div class="col-md-3">
            <div class="card" style="background-color: rgb(14, 117, 54);">
                <div class="card-body">
                    <div class="col">
                        <p>{{userProfile?.followers}}</p>
                        <p>
                        <strong>
                            FOLLOWERS
                        </strong>
                        </p>
                    </div>
                </div>
            </div>
       </div>
    </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-12">
                        <h4 class="d-flex justify-content-center"><strong>Your Previous Events</strong></h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Event Type</th>
                                    <th>Event Creator</th>
                                    <th>Repo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let event of publicEvents; let i=index">
                                 
                                  <td class="d-flex justify-content-center"><img [src]="event?.actor?.avatar_url" alt="" height="50px" width="50px" style="border-radius: 50%;"></td>
                                  <td>{{event?.type}}</td>
                                  <td>{{event?.actor?.display_login}}</td>
                                  <td>{{event?.repo?.name}}</td>
                                
                                </tr>
                              
                            </tbody>
                          </table>
                    </div>
                  </div>
       
                </div>
              </div>
                <div class="card" >
                    <div class="card-header d-flex justify-content-center bg-white">
                        <h4>
                            <strong>
                             TOP PUBLIC REPOSITORIES
                            </strong>
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="row gutters-sm">
                            <ng-container *ngFor="let repo of repos; let i=index">
                            
                              <div class="col-sm-6 mb-3">
                                <div class="card h-100 shadow" >
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-md-12">
                                          <h4>{{repo?.name}}</h4>
                                          <p>
                                              <small>
                                                {{repo?.description}}
                                              </small>
                                          </p>
                                          <p>
                                              <strong>
                                                 <a [href]="repo?.url"> {{repo?.url}}</a> 
                                              </strong>
                                          </p>
                                      </div>
                                      <div class="col-md-3">
                                          <small>{{repo?.size}}</small>
                                      </div> 
                                      <div class="col-md-3">
                                          <small>{{repo?.forks}}</small>
                                        </div> 
                                      <div class="col-md-6">
                                       <small>{{repo?.language}}</small>
                                      </div>  
                                      
                                   </div>
                                  </div>
                                </div>
                              </div>
                          
                            </ng-container>
                          </div>
                    </div>
                </div>
            </div>
          </div>

        </div>
    </div>