<div class="container-fluid wrapperDiv">
    <div class="d-flex justify-content-center h-100">
          <div class="searchbar">
            <form [formGroup]="gitHubUserNameForm">
              <input class="search_input" type="text" placeholder="Enter your github username..."  formControlName="githubUserName">
              <button class="btn btn-sm btn-success searchButton" (click)=" searchUser()">{{buttonName}}</button>
            </form>
      </div>  
  </div>
 
  <!-- <app-user-github-profile></app-user-github-profile> -->